html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  position: absolute; /* Position the canvas behind other elements */
  top: 0;
  left: 0;
  z-index: -1; /* Push the canvas behind everything else */
  width: 100%;
  height: 100%;
}

body {
  cursor: url('images/cursor.cur'), auto; /*pencil cursor*/
  background-color: black;
  background-size: cover; /* makes the image cover the entire background */
  background-position: center; /* centers the image */
  background-repeat: repeat-y; /* prevents the image from repeating */
  height: 100vh;
  overflow: hidden;
}

.week4-pgicons{
  width: 2vw;
  z-index: 1;
}

.sub-files{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  z-index: 1;
}