
@font-face {
    font-family: 'CsAnika';
    src: url('Fonts/CsAnikaRegularDemo-1jXwM.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
        body{
            font-family: "Caveat", cursive;
            background-color: #ece1d4;
            overflow: hidden;
        }
        .header{
            box-sizing: content-box;
            display: flex;
            /*kk*/
            align-items: center;
            justify-content: center;
            gap: 5px;
            font-size: 4vh;
            position: absolute;
            background-color: #546C5B;
            left: 30%;
            top: 12%;
            color: white;
            height: 1.8em;
            font-family: 'CsAnika';
        }

        .sparkle{
            height: 1.5em;
        }

        .pin-board{
            display: flex;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            position: relative;
            z-index: 2;
        }

        .board-bg{
            left: 0;
            top: 0;
            z-index: -10;
            width: 100vw;
        }

        .board-content{
            font-size: 1.5em;
        }

        a{
            color: white;
        }


        .week1 {
            color: white;
            position: absolute;
            background-color: #ecd189;
            top: 25%;
            left: 55%;
            transform: rotate(-10deg);
            padding: 15px;
            border: 2.5px black solid;
        }

        .week2{
            color: white;
            position: absolute;
            background-color: #acbc8a;
            top: 25%;
            left: 25%;
            transform: rotate(35deg);
            padding: 15px;
            border: 2.5px black solid
        }
       
        .week3{
            color: white;
            position: absolute;
            background-color: #88bfcc;
            bottom: 48%;
            right: 25%;
            transform: rotate(-40deg);
            padding: 15px;
            border: 2.5px black solid
        }

        .hunt{
            color: white;
            position: absolute;
            background-color: #e99469;
            top: 35%;
            left: 5%;
            transform: rotate(15deg);
            padding: 15px;
            border: 2.5px black solid

        }

       
        a:link, a:visited {
             text-decoration: none;
        }       

        #circle {
            width: 1em;
            height: 1em;
            border-radius: 50%;
            background-color: black;
            position: absolute;
            top: -0.5em;
         }
        /*https://travis.media/blog/how-to-make-an-item-grow-on-hover-with-css/ */
         .week3:hover, .week1:hover, .week2:hover, .hunt:hover{
            transform: scale(1.1); 
         }

         	
/* Shooting Stars from the LMS pages */

#shooting-stars {
    position: absolute; 
    z-index: 1;
}

pre {}

.stars1 {

color: rgb(245, 245, 171);

text-shadow: rgb(190, 190, 232);

font-size: 1.4em;

letter-spacing: -2px;

text-shadow: 2px 2px 20px #ffe8a4;

opacity: 0.9;

}

#star1 {

position: absolute;
top: 0px;
right: 10vw;
animation: 5s shootingStar linear infinite;

}

#star2 {
position: absolute;
top: 0px;
right: 50vw;
animation: 4s shootingStar linear infinite;
}

#star3 {
position: absolute;
top: -15vh;
right: 60vw;
animation: 5s shootingStar linear infinite;
animation-delay: 1.2s;
}

#star4 {
position: absolute;
top: -30vh;
right: 90vw;
animation: 7s shootingStar linear infinite;
animation-delay: 2s;
}

#star5 {
position: absolute;
top: -40vh;
right: 30vw;
animation: 6s shootingStar linear infinite;
}

#star6 {
position: absolute;
top: -3vh;
right: -50vw;
animation: 6s shootingStar linear infinite;
animation-delay: 1.2s;
}

#star7 {
position: absolute;
top: -22px;
right: -20vw;
animation: 5s shootingStar linear infinite;
animation-delay: 2.2s;
}

@keyframes stars-fall {
0% {
line-height: 5px;
}
100% {
line-height: 10px;
}
}
@keyframes shootingStar {
0% {
transform: rotateZ(-40deg) translateX(0%) translateY(0%);
}
100% {
transform: rotateZ(-70deg) translateX(-150vw) translateY(50vh);
}
}

.background-board{
            position: fixed;
            left: 0;
            top: 0;
            z-index: -10;
            width: 100vw;
        }

