
body{
    background-color: azure;
    font-family: 'Space Mono';
    font-size: 0.9em;
}

.body-container3{
    margin: 7%;
    margin-bottom: 5em;
    height: 120vh;
    display: flex;
    flex-direction: column;
    position: relative;

}

.main-body3, .popup{
    background-color: white;
    margin: 3%;
    border: 2px solid #240e4a;
    border-right: 7px solid #240e4a;
    border-bottom: 7px solid #240e4a;
    border-radius: 15px;
    padding-bottom: 1%;

}

.main-body3{
    position: absolute;
    width: 80%;
    right: 5em;
}

.taskbar3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #e6cc4c;
}

.navweek3-buttons{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 25vw;
    text-align: center;
}

.nav3-button{
    border-right: 1.5px #240e4a solid;
    flex: 1;
    padding: 0.6em;
    border-radius: 0px 14px 0px 0px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav3-button:hover{
    color: #9e4fc0;
}

.week3-title{
    display: flex;
    align-items: top;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 1px #240e4a solid;
    border-top: 1px #240e4a solid;
    padding: 1%;
    gap: 5%;
}

.middle-content{
    display: flex;
    gap: 2%;
    align-items: stretch;
    border-bottom: 1px #240e4a solid;
}

.week-3descrip{
    padding: 0.5em;
}

.week3-audio{
    border-left: 1px #240e4a solid;
    flex: 1;
    align-content: center;
    padding: 0.8em;
}

/* folder icons and related links */

.folder-buttons{
    padding: 1em;
    display: flex;
    gap: 3%;
}

.folder-buttom{
    background-color: white;
    border: none;
}

.folder-conatiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
    font-weight: bold;
    flex-wrap: wrap;
    width: 5em;text-align: center;
}

/* Popup window style stuff */

.popup{
    display: none;
}

.mediaQ{
    position: absolute;
    top: 27em;
    width: 30vw;
    left: 2em;
    z-index: 1;
}

.huntngather{
    position: absolute;
    top: 35em;
    left: 20em;
    z-index: 2;
}

.fluidPop{
    position: absolute;
    top: 20em;
    width: 50vw;
    right: 2em;
}

.popup-text{
    padding: 2%;
}

.close-buttonposition{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #240e4a solid;
    padding: 0.5em;
}

.close-folder{
    background: transparent;
    background-color: #f088a9;
    border-radius: 5px;
}

.folder-buttom:hover, .close-folder:hover {
    cursor: pointer;
}

.close-folder:hover{
    background-color: #a44b67;
}

.hunt3content{
    display: flex;
    padding: 3%;
    gap: 1em;
    justify-content: space-between;
}

.hunt3item{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#bg-video {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -10;
    min-width: 100vw;
    min-height: 100vh;
    opacity: 70%;
}
